.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #055c9d;
}
.navbar-brand,
.nav-link {
  color: white !important;
}

.banner {
  background-color: darkblue;
  padding: 30px;
  text-align: center;
  color: white;
}
footer {
  background-color: skyblue;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
